NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxxxxxxxx
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ACADEMY_NAME=Jiu-Jitsu Academy
NEXT_PUBLIC_ACADEMY_LAT=
NEXT_PUBLIC_ACADEMY_LNG=
CHECKIN_MAX_DISTANCE_METERS=250
